@import url('https://fonts.googleapis.com/css?family=Graduate|IM+Fell+English+SC|Marcellus+SC|Nova+Square|Orbitron|Raleway|Roboto|Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.navbar-default {]
	background-image: none;
	background-color: transparent; /* Make the menu become transparent */
  	border-radius: 0px;
 	border: 0;
}

.navbar-default .navbar-brand {

  	font-family: Verdana;
  	font-size: 0px;
  	position: absolute;
  	text-align: left;
  	top: 10px;
  	left: 70px;
}

.navbar-text	{
	color: white!important;
	margin-left: 5px;
}

.carousel .background.a {
  	background-image: url("img/0.jpg");
  	height: 670px;
  	background-position: left left;
  	background-size: 100% 100%;
  	opacity:1;
  	background-size:cover;
  	background-position:center;
  	background-repeat:no-repeat;
  	width: 1351px;

}

.bg2 {
  	background-image: url("img/bg5.jpg");
  	height: 732px;
  	background-position: left left;
  	background-size: 100% 100%;
  	opacity:1;
  	background-size:cover;
  	background-position:center;
  	background-repeat:no-repeat;
  	width: 1351px;
}

.bg3 {
	position: absolute;
	top: 3860px;
	left: 0px;
  	background-image: url("img/bg5.jpg");
  	height: 359px;
  	background-position: left left;
  	background-size: 100% 100%;
  	opacity:1;
  	background-size:cover;
  	background-position:center;
  	background-repeat:no-repeat;
  	width: 1351px;
}

.p1 {
	position: absolute;
	text-align: left;
  	top: -50px;
 	left: -20px;
  	right: 50px;
	color:#cccccc;
  	font-weight: normal;
  	opacity:1.0;
  	font-weight: normal;
  	font-family: 'Roboto Mono', monospace;
}

.p2 {
	position: absolute;
	text-align: left;
  	top: 300px;
 	left: -20px;
  	right: 50px;
	color:#cccccc;
	font-size: 0.8em;
	font-weight: normal;
	opacity:1.0;
 	position: absolute;
}

.p3 {
	position: absolute;
	text-align: left;
  	top: 150px;
 	left: -20px;
  	right: 50px;
  	color:#cccccc;
  	font-size: 20;
 	font-weight: normal;
 	opacity:1.0;
 	font-weight: normal;
  	font-family: 'Raleway', sans-serif;
}

.button {

    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;

        }
.left    {
 	position: absolute;
	text-align: left;
  	top: 134px;
  	left: 250px;
  	right: 50px;
  }

.img {
	position: absolute;
  	text-align: right;
  	top: 150px;
  	left: 0;
  	right: 100px;
  	opacity:0.7;
}

.fb	{
	position: absolute;
  	text-align: left;
  	top: 200px;
  	left: 0px;
  	right: 20px;
  	opacity:0.8;
}

.tw	{
	position: absolute;
  	text-align: left;
  	top: 250px;
  	left: 0px;
  	right: 20px;
  	opacity:0.8;
}

.gp	{
	position: absolute;
  	text-align: left;
  	top: 300px;
  	left: 0px;
  	right: 20px;
  	opacity:0.8;
}

.pl {
	position: absolute;
  	text-align: left;
  	top: 350px;
  	left: 0px;
  	right: 20px;
  	opacity:0.8;
}

.download1 {
	background: #0033ff;
	opacity:1;
	text-align:center; 
	width: 120px; 
	height: 46px; 
	color: white; 
	border-color: #4477ee;
}

.learn-more1 {
	background: transparent;
	opacity:1; 
	text-align:center; 
	width: 190px; 
	height: 46px; 
	color: white; 
	border-color: #4477ee;
	position: absolute;
  	text-align: center;
  	top: 0px;
  	left: 190px;
  	right: 0px;
  	opacity:1;
}

.app-store {
	background: #999999;
	opacity:0.8; 
	position: absolute; 
	text-align: center;
 	top: 1940px;
  	left: 480px;
  	right: -20px;
  	opacity:1; 
  	text-align:center; 
  	width: 200px; 
  	height: 55px; 
  	color: black; 
  	border-color: #cccccc;
}

.google-play {
	background: #999999;
	opacity:0.8; 
	position: absolute; 
	text-align: center;
  	top: 1940px;
  	left: 700px;
  	right: -20px;
  	opacity:1; 
  	text-align:center; 
  	width: 200px; 
  	height: 55px; 
  	color: black; 
  	border-color: #cccccc;
}

.daftar-reseler-baru {
	position: relative;
	top: 30px;
	left: 80px;
	background: blue;
	opacity:0.8; 
	text-align:center; 
	width: 220px; 
	height: 50px; 
	color: white; 
	border-color: #333666;
}

.pricing-level2 {
	position: absolute; 
	text-align: center;
  	top: 100px;
  	left: -1px;
  	right: 0px;
}

.select-package {
	width: 170px; 
	height: 50px; 
	background: #0099ff;
}

.get-start-now {
	background: #0066ff;
	opacity:1; 
	text-align:center; 
	width: 600px; 
	height: 44px; 
	color: white; 
	border-color: #4477ee;
	position: relative;
	top: 1630px;
	left: 410px;
}

.atas-bedanya {
	position: absolute;
  	text-align: right;
  	top: 2400px;
  	left: 0;
  	right: 1050px;
  	opacity:1;
}

.atashp {
	position: absolute;
  	text-align: center;
  	top: 2920px;
  	left: 0;
  	right: 0px;
  	opacity:1;
}

.text {
	position: absolute;
  	text-align: left;
  	top: 2100px;
  	left: 460px;
  	right: 0px;
  	opacity:1;
}

.paragraf {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.info {
	background: transparent;
	position: absolute;
  	text-align: left;
  	top: 0px;
  	left: 180px;
  	right: 0px;
  	opacity:1;
  	width: 90px;
  	height: 180px;
}

.info2 {
	background: transparent;
	position: absolute;
  	text-align: left;
  	top: 0px;
  	left: 420px;
  	right: 0px;
  	opacity:1;
  	width: 90px;
  	height: 180px;
}

.bawah {
	position: absolute;
	text-align: left;
  	top: 30px;
 	left: 160px;
  	right: 50px;
  	color: white;
  	font-size: 13px;
 	font-weight: normal;
 	opacity:1.0;
 	font-weight: normal;
}

.profil-perusahaan {
	font-size: 17px;
}


.bawah2 {
	position: absolute;
	text-align: left;
  	top: 3px;
 	left: 320px;
  	right: 50px;
  	color: white;
 	font-weight: normal;
 	opacity:1.0;
 	font-weight: normal;
}

.bawah3 {
	position: absolute;
	text-align: left;
  	top: 3px;
 	left: 550px;
  	right: 50px;
  	color: white;
 	font-weight: normal;
 	opacity:1.0;
 	font-weight: normal;
}

.call-center {
	font-size: 17px;
}


.follow {
	opacity:0.5;
}

.form {
	position: absolute;
	text-align: left;
  	top: 100px;
 	left: 190px;
  	right: 110px;
  	color: white;
 	font-weight: normal;
 	opacity:1.0;
 	font-weight: normal;
}

.powerby {
	position: absolute;
	text-align:right;
  	top: 185px;
 	left: 90px;
 	font-size: 13px;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}
